.outside {
    border: 1px solid black;
    height: 10px;
    width: 100%;
    position: fixed;
    background-color: #4cc5d8;
    font-family: 'Chewy', cursive;
    box-shadow: 5px 5px 20px black;
    z-index: 100;
}

.outside > h2 {
    font-size: 50px;
    text-align: center;
    justify-content: center;
}